In [40]:
import pandas as pd
import statsmodels.api as sm
from sklearn.metrics import r2_score

In [14]:
df = pd.read_excel('Book1.xlsx')

In [26]:
df.head()

,Year,Consumption,Disposable Income,GDP,GDP deflator,C in trillion,I in trillion,CPI,E,CPI (2010),...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,1993,2.851129e+12,2034996000000,4.340992e+12,100.000000,2.851129,2.034996,100.000000,25.319611,56.591785,...,NaN,NaN,NaN,103.808791,106.938521,109.275006,111.345923,110.343336,110.550947,111.286809
1,1994,3.078549e+12,2190926000000,4.688137e+12,107.996905,3.078549,2.190926,105.047749,25.149952,59.448396,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1995,3.326017e+12,2497769000000,5.068826e+12,116.766536,3.326017,2.497769,111.159618,24.915176,62.907212,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1996,3.520646e+12,2708481000000,5.355335e+12,123.366618,3.520646,2.708481,117.612551,25.342683,66.559042,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1997,3.497171e+12,2757061000000,5.207871e+12,119.969606,3.497171,2.757061,124.229195,31.364334,70.303519,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
model = sm.regression.linear_model.OLS(df['Consumption'], sm.add_constant(df['Disposable Income'])).fit()

In [32]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            Consumption   R-squared:                       0.989
Model:                            OLS   Adj. R-squared:                  0.988
Method:                 Least Squares   F-statistic:                     1990.
Date:                Sat, 27 Jul 2019   Prob (F-statistic):           7.68e-24
Time:                        23:18:12   Log-Likelihood:                -675.11
No. Observations:                  25   AIC:                             1354.
Df Residuals:                      23   BIC:                             1357.
Df Model:                           1
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const              1.796e+12   7.04e+10     25.524      0.000    1.65e+12    1.94e+12
Disposable Income     0.6055      0.014     44.605      0.000       0.577       0.634
==============================================================================
Omnibus:                        0.653   Durbin-Watson:                   0.648
Prob(Omnibus):                  0.721   Jarque-Bera (JB):                0.197
Skew:                          -0.216   Prob(JB):                        0.906
Kurtosis:                       3.049   Cond. No.                     1.35e+13
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.35e+13. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [38]:
compare_df = pd.concat([df['Consumption'], model.predict(sm.add_constant(df['Disposable Income']))], axis =1
                      ).rename({0: 'Predicted_Consumption'}, axis=1)

In [42]:
compare_df

     Consumption  Predicted_Consumption
0   2.851129e+12           3.028028e+12
1   3.078549e+12           3.122451e+12
2   3.326017e+12           3.308259e+12
3   3.520646e+12           3.435855e+12
4   3.497171e+12           3.465273e+12
5   3.235702e+12           3.520422e+12
6   3.364179e+12           3.625931e+12
7   3.571103e+12           3.653655e+12
8   3.758018e+12           3.710845e+12
9   3.971195e+12           3.863487e+12
10  4.246050e+12           4.085673e+12
11  4.533243e+12           4.330485e+12
12  4.755167e+12           4.485941e+12
13  4.883546e+12           4.715520e+12
14  5.009206e+12           4.981028e+12
15  5.171965e+12           5.205250e+12
16  5.243400e+12           5.204393e+12
17  5.569379e+12           5.514831e+12
18  5.695245e+12           5.741430e+12
19  6.083757e+12           6.069913e+12
20  6.149130e+12           6.167004e+12
21  6.225484e+12           6.323747e+12
22  6.372885e+12           6.370706e+12
23  6.547425e+12           6.598682e+12
24  6.698814e+12           6.829595e+12

In [41]:
r2_score(compare_df['Consumption'], compare_df['Predicted_Consumption'])

0.9885722568697176

In [43]:
dict(model.params)

{'const': 1795739248173.503, 'Disposable Income': 0.6055482668993366}

In [44]:
dict(model.pvalues)

{'const': 2.238143837308878e-18, 'Disposable Income': 7.677107563086926e-24}